<!--
 * @Date: 2020-06-18 10:11:56
 * @LastEditors: wang
 * @LastEditTime: 2020-06-18 16:12:46
--> 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  </style>
</head>
<script src="https://img.hcharts.cn/highmaps/highmaps.js"></script>
<script src="https://data.jianshukeji.com/geochina/china.js"></script>
<body>
  <div id="map" style="width:800px;height: 500px;"></div>
</body>
<script src="../js/index.js"></script>
</html>